Demo email, not legit
<br />
<br />
Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />

Congratulations! You now have a year long trial on Glass Lab Premium.
<br />
<br />
This plan includes access to all Glass Lab games and the ability to invite 500 students and 15 teachers to your plan. Be sure to share!
<br />
<br />

Sincerely,<br />
Your Best Friends at GlassLab
