Hello {{= data.firstName }}{{= data.lastName ? ' '+data.lastName : '' }},

This is a gentle reminder that your trial subscription has <b>expired</b> and it’s time to renew. New content comes out every month, and we want to be sure you and your fellow educators don’t miss it!

Your account has been reverted to the Basic Plan. If you’d like to play your games and/or update your account to the Premium Plan, click here.

If you have any questions, please <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!

Thanks again for bringing the best in high-impact learning games to your students!

Sincerely,
Your Best Friends at GlassLab
