Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+data.lastName : '' }}</span>,<br />
<br />

Oh no! It looks like the purchase order submitted by your license owner <b>has been rejected</b>.
<br />
<br />
Until the purchase order has been received and approved, your plan has been updated from Premium to Basic. <b>Please get in touch with your license owner to review and re-send the purchase order</b>. New content comes out every month, and we want to be sure you and your fellow educators don't miss any of it!
<br />
<br />
If you have any questions, please check out the <a href="glasslab.zendesk.com">FAQs</a>. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br />
<br />
Thanks again for bringing the best in high-impact games to your students!
<br />
<br />

Sincerely,<br />
Your Best Friends at GlassLab
