Demo email for purchase order approval
<br />
<span>{{= data.name }}</span>
<br />
<span>{{= data.plan }}</span>
<br />
<span>{{= data.seats }}</span>
<br />
<span>{{= data.expirationDate }}</span>
plan
seats
amount
action
po#
billing contact
expiration date
