Demo Email for educator's license upgrade
<br />
<span>{{= data.teacherName }}</span>
<br />
<span>{{= data.ownerName }}</span>
<br />
<span>{{= data.oldPlan }}</span>
<br />
<span>{{= data.oldSeats }}</span>
<br />
<span>{{= data.newPlan }}</span>
<br />
<span>{{= data.newSeats }}</span>
