Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />
This is a gentle reminder that you have <b>60 days</b> left in your current subscription, which ends {{= data.expirationDate }}. If not renewed, your account will be moved onto the Basic Plan.
<br />
<br />
Feel free to use your premium manager to check, edit, and/or update your account info at any time.
<br/>
<br/>
<b>Quick Tip:</b> it may be good to check with your educators to see when they will need access to use GlassLab Games within the next 60+ days! It may be good to renew sooner to make sure they’re good to go.
<br/>
<br/>
If you have any questions, please check out the <a href="glasslab.zendesk.com">FAQ</a>. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br />
<br />
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
