Hello {{= data.firstName }}{{= data.lastName ? ' '+data.lastName : '' }},

This is a gentle reminder that you have <b>{{= data.daysToGo }} days</b> left in your current subscription, which ends {{= data.expirationDate }}. If not renewed, your account will be moved onto the Basic Plan.

Feel free to use your premium manager to check, edit, and/or update your account info at any time.

Quick Tip: it may be good to check with your educators to see when they will need access to use GlassLab Games within the next 60+ days! It may be good to renew sooner to make sure they’re good to go.

If you have any questions, please <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!

Thanks again for bringing the best in high-impact learning games to your students!

Sincerely,
Your Best Friends at GlassLab
