Demo email for purchase order received, check inputs with ben
<br />
<span>{{= data.name }}</span>
<br />
<span>{{= data.expirationData }}</span>
<br />
<span>{{= data.plan }}</span>
<br />
<span>{{= data.seats }}</span>
<br />
<span>{{= data.payment }}</span>
<br />
<span>{{= data.action }}</span>
<br />
<span>{{= data.purchaseOrderNumber }}</span>
