Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />

This is a quick confirmation that your purchase order has been received. Your premium subscription has started and you now have access to the full GlassLab Games library. Please note that it may take as long as a month to process your P.O., so keep an eye on your inbox for your confirmation email.
<br />
<br />
Feel free to use your premium manager to check, edit, and/or upgrade your account info at any time.
<br/>
<br/>
If you need any help getting started, please check out the FAQ or Getting Started Guides located on each game page. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
