Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />
This is a quick confirmation that you have successfully renewed your account.
<br />
<br />
Feel free to use your premium manager to check, edit, and/or update your account info at any time.
<br/>
<br/>
If you have any questions or feedback, please check out the <a href="glasslab.zendesk.com">FAQ</a> or <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br />
<br />
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
