Hello <span>{{= data.teacherEmail}}</span>,<br />
<br />
Great news!<br />
<br />

You have been invited to join {{= data.ownerFirstName }}{{= data.ownerLastName ? ' '+ data.ownerLastName : '' }}’s license on GlassLab Games - a growing library of the best in high-impact learning and formative assessment games. Each game comes with real-time reports and instructional resources that help make learning visible.
<br />
<br />
The next step is to <a href="http://www.glasslabgames.org/register/instructor">create an account</a> with this email address and explore the site!
<br />
<br />
Feel free to use your Premium Manager to check and/or edit your account info at any time.
<br/>
<br/>
If you need any help getting started, please check out the <a href="http://glasslab.zendesk.com">FAQ</a> or Getting Started Guides located on each game page. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
