Demo Email for invite existing instructor
<br />
<span>{{= data.teacherName }}</span>
<br />
<span>{{= data.ownerName }}</span>
<br />
<span>{{= data.plan }}</span>
<br />
<span>{{= data.seats }}</span>
