This email is only intended for glasslab admins.  <br />
<br />
If you received this email by mistake (oops), please let us know so we can fix it.<br />
</br>
</br>
User Information: </br>
<br />
</br>
<b>First and last name:</b> <br />
{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}<br />
<b>Email:</b> <br />
{{= user.email }}<br />
<b>Phone Number:</b> <br />
{{= user.phoneNumber }}<br />
<b>School:</b> <br />
{{= user.school}}<br />
<b>District:</b> <br />
{{= user.district }}<br />
<br />
To verify this user, please click on the link below:<br />
<br/>

<a href="{{= host }}/api/v2/auth/register-verify/{{= code }}/verifyBeta">{{= host }}/api/v2/auth/register-verify/{{= code }}/verifyBeta</a><br /><br />


Sincerely,<br /><br />
Your New Best Friends at GlassLab



