Hello,
<br />
<br />
We noticed you may have recently attempted to reset the password to your GlassLab Games account. However, our records indicate this email address is not associated with a registered account.
GlassLab Games is the ultimate destination for high-quality digital games with proven learning outcomes. If you'd like to learn more, please click the button below!
<br />
<br />
<form action="https://www.glasslabgames.org">
    <input type="submit" value="Play Games">
</form>
<br />
<br />
If this email was sent to you in error, please disregard this email and contact our <a href="mailto:support@glasslabgames.org">support team</a> as soon as you can.
Thank you so much for helping make learning visible!
<br />
<br />
Sincerely,<br />
Your Best Friends at GlassLab