Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />

Oh no! It looks like your purchase order <b>could not be completed</b>.
<br />
<br />
Please review your purchase order and re-send it within the next <b>30 days</b>. New content comes out every month, and we want to be sure you and your fellow educators don’t miss it!
<br/>
<br/>
If you have any questions, please check out the <a href="glasslab.zendesk.com">FAQ</a>. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>
If this is in error, <b>please contact your license owner!</b>
<br/>
<br/>
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
