Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />
Congratulations!<br />
<br />

Oh no! It looks like your purchase order could not be completed.
<br />
<br />
Please review your purchase order and re-send it within the next 30 days. New content comes out every month, and we want to be sure you and your fellow educators don’t miss it!
<br/>
<br/>
If you have any questions, please check out the FAQ. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab