Hello <span>{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}</span>,<br />
<br />
Let's Play!<br />
<br />


Thank you for taking interest in our Developer program!
<br/>
You can stay up to date with the latest in GlassLab news, games and features by checking out <a
  href="http://about.glasslabgames.org/blog/news/">blog</a>.
<br/>
<br/>
If you need any help getting started, you can <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>

Sincerely,<br />
Your New Best Friends at GlassLab
