A new developer, {{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}, has signed up to Glasslab Games.<br />

<br/>
<b>To approve or reject their request for developer access</b>, please click on the link below:<br />
<br/>

<a href="{{= link }}">{{= link }}</a>
<br />
<br />

Sincerely,<br />
Your New Best Friends at GlassLab


