Hello <span>{{= data.ownerFirstName }}{{= data.ownerLastName ? ' '+ data.ownerLastName : '' }}</span>,<br />
<br />
You have successfully updated your account to the {{= data.newPlan + ' ' + data.newSeats }} plan. It’s all ready to go!
<br />
<br />
Feel free to use your premium manager to check, edit, and/or update your account info at any time.
<br/>
<br/>
If you have any questions, please check out the <a href="http://glasslab.zendesk.com">FAQ</a> or <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br />
<br />
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
