Hello {{= data.ownerFirstName }}{{= data.ownerLastName ? ' '+data.ownerLastName : '' }},

You have successfully updated your account to the {{= data.newPlan + ' ' + data.newSeats }} plan. It’s all ready to go!

Feel free to use your premium manager to check, edit, and/or update your account info at any time.

If you have any questions or feedback, please check out the FAQ or <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!

Thanks again for bringing the best in high-impact learning games to your students!

Sincerely,
Your Best Friends at GlassLab
