Hello {{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }},<br />

<br/>
<b>To complete creating your GlassLab Games Developer account</b>, please click on the link below to confirm your email address:<br />
<br/>

<a href="{{= host }}/verify-email/{{= code }}">{{= host }}/verify-email/{{= code }}</a><br /><br />


We're so excited to have you join the movement!
<br/>
<br />
Sincerely,<br />
Your New Best Friends at GlassLab



