This email is only intended for glasslab admins.  <br />
<br />
If you received this email by mistake (oops), please let us know so we can fix it.<br />
</br>
</br>
</br>
User Email:<br />
{{= devEmail }}<br />
Game Id: </br>
{{= gameId }}<br />
To verify this game for the developer, please click on the link below:<br />
<br/>
<br/>

<a href="{{= host }}/api/v2/auth/developer/game/{{= gameId }}/request/{{= code }}/approve">{{= host }}/api/v2/auth/developer/game/{{= gameId }}/request/{{= code }}/approve</a><br /><br />


Sincerely,<br /><br />
Your New Best Friends at GlassLab
