Hello <span>{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}</span>,<br />
<br />
Let's Play!<br />
<br />


Thank you for bringing the best in high-impact learning and formative assessment games to your students. Be sure to browse the growing Playfully library and the treasure trove of educator resources:
<br/>
<br/>
<br/>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <a href="www.playfully.org" target="_blank" id="button">
                <table border="0" width="175px" height="40px" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#67CADA" valign="middle" align="center" style="border-radius: 10px;">
                            <span style="color: #FFFFF6;">Go to Playfully</span>
                        </td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>
</table>
<br/>
<br/>
<br/>
You can stay up to date with the latest GlassLab news, Playfully games and features by checking out our <a
  href="http://glasslabgames.org/blog/news/">blog</a>.
<br/>
<br/>
If you need any help getting started, please check out the Getting Started Guides located on each game page. You can also <a href="support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>

Sincerely,<br />
Your New Best Friends at GlassLab (the Creators of Playfully)
