Dear <span>{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}</span>,<br />
<br />
Mars may be 225 million kilometers away, but great ELA instruction is right at your fingertips!<br />
<br />
Check out
<a href="{{= host}}/mars1" target="_blank"><span><b>Videos</b></span></a>,
<a href="{{= host}}/mars1" target="_blank"><span><b>Lesson Plans</b></span></a>,
<a href="{{= host}}/classes" target="_blank"><span><b>Class Creation</b></span></a> and
<a href="{{= host}}/reports" target="_blank"><span><b>Reporting</b></span></a> tools designed to make your entry into Argubot Academy an easy one.<br />
<br />
One last thing! If you're looking to find fellow travelers and want to compare notes, ask
questions, get teaching tips, or practice your skills defending claims with evidence, join
the <b>Mars Generation One: Argubot Academy Community</b> here.<br />
<br />

<table border="0" width="100%" cellpadding="0" cellspacing="0"><tr>
    <td align="center">
        <a href="https://plus.google.com/u/0/communities/108390757306742306849" target="_blank" id="button">
            <table border="0" width="175px" height="40px" cellpadding="0" cellspacing="0"><tr>
                <td bgcolor="#11ADB7" valign="middle" align="center">
                    <span style="color: #FFFFF6;">Join Community</span>
                </td>
            </tr></table>
        </a>
    </td>
</tr></table>
<br />
Sincerely,<br />
Your Friends (and Bots) at GlassLab
