Dear <span>{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}</span>,<br />
<br />
Game on!<br />
<br />
Thank you for registering and joining our movement to bring the best in learning<br/>
and formative assessment games to your students.<br/>
Be sure to browse our free and premium games and don't forget to check out
the treasure trove of teacher resources available, like lesson plans, PD videos,
student management tools, and reports.<br/>
<br/>
One last thing. If you're looking to find other other Playfully insiders and want to
compare notes, ask questions, get teaching tips, or generally just socialize with
like-minded folks, please join our Playfully community.<br />
<br />
<br />
<br />ssss
<table border="0" width="100%" cellpadding="0" cellspacing="0"><tr>
    <td align="center">
        <a href="https://plus.google.com/117864084582459836584/posts" target="_blank" id="button">
            <table border="0" width="175px" height="40px" cellpadding="0" cellspacing="0"><tr>
                <td bgcolor="#67CADA" valign="middle" align="center" style="border-radius: 10px;">
                    <span style="color: #FFFFF6;">Join Community</span>
                </td>
            </tr></table>
        </a>
    </td>
</tr></table>
<br />
Sincerely,<br />
Your New Best Friends at GlassLab (the Creators of Playfully)
