Hello <span>{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}</span>,<br />
<br />
Let's Play!<br />
<br />


Thank you for bringing the best in high-impact learning and formative assessment games to your students. Be sure to browse the growing library and treasure trove of educator resources at <a href="http://www.glasslabgames.org">glasslabgames.org</a>.
<br/>
<br/>
You can stay up to date with the latest in GlassLab news, games and features by checking out our <a
  href="http://about.glasslabgames.org/blog/news/">blog</a>.
<br/>
<br/>
If you need any help getting started, please check out the Getting Started Guides located on each game page. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>

Sincerely,<br />
Your New Best Friends at GlassLab
