Hello <span>{{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }}</span>,<br />
<br />
Let's Play!<br />
<br />


Thank you for bringing the best in high-impact learning and formative assessment games to your students. Be sure to browse the growing library and treasure trove of educator resources at <a href="http://www.playfully.org">Playfully.org</a>.
<br/>
You can also stay up to date with the latest GlassLab news, Playfully games and features by checking out our <a
  href="http://glasslabgames.org/blog/news/">blog</a>.
<br/>
<br/>
If you need any help getting started, please check out the Getting Started Guides located on each game page. You can also <a href="support@glasslabgames.org">contact our support team</a> directly!
<br/>
<br/>

Sincerely,<br />
Your New Best Friends at GlassLab (the Creators of Playfully)
