Dear {{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }},

Let's Play!

Thank you for bringing the best in high-impact learning and formative assessment games to your students.

Be sure to browse the growing library and treasure trove of educator resources at GlassLab Games (www.glasslabgames.org)

You can stay up to date with the latest in GlassLab news, games and features by checking out our blog (http://about.glasslabgames.org/blog/news/).

If you need any help getting started, please check out the Getting Started Guides located on each game page.  You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!

Sincerely,
Your New Best Friends at GlassLab
