Hello {{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }},<br />

<br/>
<b>To complete creating your Playfully.org account</b>, please click on the link below to confirm your email address:<br />
<br/>

<a href="{{= host }}/verify-email/{{= code }}">{{= host }}/verify-email/{{= code }}</a><br /><br />


We're so excited to have you join the movement! Once you have verified, you’ll have access to lesson plans, real-time reports, and other resources that will help make learning visible!
<br/>
<br />
Sincerely,<br />
Your New Best Friends at GlassLab (the Creators of Playfully)



