Hello {{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }},<br />
<br />
Please verify your email by clicking the link below:<br />
<br />
<a href="{{= host }}/api/v2/auth/register-verify/{{= code }}/verify">{{= host }}/api/v2/auth/register-verify/{{= code }}/verify</a><br /><br />

Thank you!<br /><br />
The Glasslab Team
