Dear {{= user.firstName }}{{= user.lastName ? ' '+user.lastName : '' }},<br />
<br />
Worry no longer! We are here to help you with that pesky little problem of forgetting your password.
Just click on the following secure link
<a href="{{= host }}/passwordreset/{{= code }}">{{= host }}/passwordreset/{{= code }}</a>
and you can reset your password in no time.<br />
<br />
Sincerely,<br />
Your Friends at GlassLab
