Demo email for educator subscription expires
<br />
<span>{{= data.ownerName }}</span>
<br />
<span>{{= data.teacherName }}</span>
<br />
<span>{{= data.plan }}</span>
<br />
<span>{{= data.expirationDate }}</span>
