Demo email for purchase order approval
<br />
<span>{{= data.name }}</span>
<br />
<span>{{= data.email }}</span>
<br />
<span>{{= data.phone }}</span>
<br />
<span>{{= data.type }}</span>
<br />
<span>{{= data.seats }}</span>
<br />
<span>{{= data.payment }}</span>
<br />
<span>{{= data.action }}</span>
<br />
<span>{{= data.key }}</span>
