We have just received a purchase order request.  Here is the information.
<br />
Billing Name: <span>{{= data.name }}</span>
<br />
Billing Email: <span>{{= data.email }}</span>
<br />
Billing Phone: <span>{{= data.phone }}</span>
<br />
Plan: <span>{{= data.type }}</span>
<br />
Seats: <span>{{= data.seats }}</span>
<br />
Payment: $<span>{{= data.payment }}</span>
<br />
Key: <span>{{= data.key }}</span>
