Hello <span>{{= data.firstName }}{{= data.lastName ? ' '+ data.lastName : '' }}</span>,<br />
<br />
This is a gentle reminder that you have 60 days left in your current subscription, which ends {{= data.expirationDate }}.
<br />
<br />
Feel free to use your [Subscription Manager] to check, edit, and/or upgrade your account info at any time.
<br/>
<br/>
Quick Tip: it may be good to check with your educators to see when they will need access to use GlassLab Games within the next 60+ days! It may be good to renew sooner to make sure they’re good to go.
<br/>
<br/>
If you have any questions, please check out the FAQ. You can also contact our support team directly!
<br />
<br />
Thanks again for bringing the best in high-impact learning games to your students!
<br/>
<br/>

Sincerely,<br />
Your Best Friends at GlassLab
