Hello {{= data.teacherFirstName }}{{= data.teacherLastName ? ' '+data.teacherLastName : '' }},

Great news!

You have been invited to join {{= data.ownerFirstName }}{{= data.ownerLastName ? ' '+ data.ownerLastName : '' }}’s license on GlassLabGames.org. You now have access to a growing library of high-impact digital games with proven learning outcomes.

Feel free to use your premium manager to check and/or edit your account info at any time.

If you need any help getting started, please check out the Getting Started Guides located on each game page. You can also <a href="mailto:support@glasslabgames.org">contact our support team</a> directly!

Thanks again for bringing the best in high-impact learning games to your students!

Sincerely,
Your Best Friends at GlassLab
